<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">CREATE</button>

<div class="m-x-auto p-a-2 m-t-2" *ngIf="updateEnabled">
  Stock Code: <input #updateStockCode [value]="selectedStock.stockCode" />
  Stock Name: <input #updateStockName [value]="selectedStock.name" />

  <button type="button" class="btn btn-warning" (click)="updateStock(updateStockCode.value, updateStockName.value)">UPDATE</button>
</div>

<div class="m-x-auto p-a-2">
  <table class="table table-striped table-inverse table-hover table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>OPERATIONS</th>
        <th>NAME</th>
        <th>STOCK CODE</th>
      </tr>
    </thead>
    <tr *ngFor="let stock of stocks">
      <td>{{stock.id}}</td>
      <td>
        <button type="button" class="btn btn-warning" (click)="loadDetails(stock)">UPDATE</button>
        <button type="button" class="btn btn-danger" (click)="deleteStock(stock.id)">DELETE</button>
      </td>
      <td>{{stock.name}}</td>
      <td>{{stock.stockCode}}</td>
    </tr>
  </table>
</div>

<hr>
  
<!-- Create Modal HTML Template -->

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Add Stock</h2>
          Stock Code: <input #newStockCode />
          Stock Name: <input #newName />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" 
          (click)="createStock(newStockCode.value, newName.value);newStockCode.value='';newName.value=''"
          data-dismiss="modal">
          Add Stock
          </button>
      </div>
    </div>
  </div>
</div>

<!-- End -->

<div class="jumbotron">
  <h1 class="display-3">Angular 4 Finance!</h1>
  <p class="lead">Stocks, Bonds, Mutual Funds</p>
  <hr class="my-4">
  <p>A Simple Angular 4 finance web application</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">START</a>
  </p>
</div>